<!DOCTYPE html>
<html lang="en">
<title>Invoices</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<style>
body, h1, h2, h3, h4, h5, h6 {
	font-family: "Lato", sans-serif;
	padding-top: 10px;
}

.w3-bar, h1, button {
	font-family: "Montserrat", sans-serif
}

.fa-anchor, .fa-coffee {
	font-size: 200px
}

table, tr td {
	width: 100%;
}



tbody {
	display: block;
	height: 400px;
	overflow: auto;
}

thead, tbody tr {
	display: table;
	width: 100%;
	table-layout: fixed; /* even columns width , fix width of table too*/
}

thead {
	width: calc(100% - 1em)
		/* scrollbar is average 1em/16px width, remove it from thead width */
}

td {
	font-size: 12.5px;
}

ng-invalid {
	border-color: #e9322d;
}

.loading {
	padding-top: 0px;;
	padding-left: 250px;;
}
label{
font-weight: normal;
font-family:Sans-serif;
}
</style>

<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-sanitize.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-csv/0.3.3/ng-csv.min.js"></script>
 -->
 <script type="text/javascript" src="invoices.js"></script>
  <script type="text/javascript" src="ng-csv.js"></script>
</head>
<body>
	<div class="w3-top">
		<div class="w3-bar w3-red w3-card w3-left-align w3-large">
			
		 <a	href="mcrmHome.html" class="w3-bar-item w3-button w3-padding-large w3-hover-white">Home </a> 
		 <a href="Invoice.html" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-white" onclick="myFunction()">Invoices</a> 
		 <a href="Mescon.html" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Mescon</a> 
		 <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">CIP</a> 
		 <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Articles</a>
		 
		</div>

		<!-- Navbar on small screens -->
		<div id="navDemo"
			class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
			<a href="mcrmHome.html" class="w3-bar-item w3-button w3-padding-large">Home</a>
			<a href="Invoice.html" class="w3-bar-item w3-button w3-padding-large">Invoice</a>
			<a href="Mescon.html" class="w3-bar-item w3-button w3-padding-large">Mescon</a>
			<a href="#" class="w3-bar-item w3-button w3-padding-large">CIP</a> <a
				href="#" class="w3-bar-item w3-button w3-padding-large">Articles</a>
		</div>
	</div>
	
	<div ng-app="myApp" ng-controller="InvoicesController"
		style="margin: 80px;">
		<div class="row">
		<div class="card col-sm-7 " style="padding:20px;">
			<h4>
				Search Invoices:
				<button id="clear" ng-click="clear()"
					style="float: right; background-color: Transparent; border: none;">
					<img align="right" class="refresh" src="refresh.png"
						style="height: 25px; width: 25px;"></img>
				</button>
			</h4>
			<div class="card-body  ">
				<div>
					<form name="myForm" ng-submit="loader()" novalidate>
						<div class="form-row form-inline form-group">
							<label class=" mb-3 mr-sm-3" for="Enterprise">*Enterprise:
							</label> <select name="enterprise" ng-model="enterprise"
								ng-required="true"
								ng-options="enterprise for enterprise in enterprises"
								class="form-control mb-3 mr-sm-3" id="sel1"></select> <label
								for="country" class=" mb-3 mr-sm-3">Country: </label> <select
								ng-if="enterprise==''" name="country" ng-model="Country"
								ng-options="country for country in e0Countries"
								class="form-control mb-3 mr-sm-3" id="sel2"></select> <select
								ng-if="enterprise=='E0'" name="country"
								ng-model="childScope.Country" ng-required="store_num.length >0"
								ng-options="country for country in e0Countries"
								class="form-control mb-3 mr-sm-3" id="sel2"></select> <select
								ng-if="enterprise=='E1'" name="country"
								ng-model="childScope.Country" ng-required="store_num.length >0"
								ng-options="country for country in e1Countries"
								class="form-control mb-3 mr-sm-3" id="sel2"></select> <select
								ng-if="enterprise=='E2'" name="country"
								ng-model="childScope.Country" ng-required="store_num.length >0"
								ng-options="country for country in e2Countries"
								class="form-control mb-3 mr-sm-3" id="sel2"></select> <select
								ng-if="enterprise=='E3'" name="country"
								ng-model="childScope.Country" ng-required="store_num.length >0  "
								ng-options="country for country in e3Countries"
								class="form-control mb-3 mr-sm-3" id="sel2"></select> <label
								for="No. of Days" class=" mb-3 mr-sm-3"># of Days: </label> <input
								type="text" ng-model="no_of_days"
								class="form-control mb-3 mr-sm-3" style="width: 50px;"></input>
							<label for="No. of Days" class=" mb-3 mr-sm-3">Store# : </label>
							<input type="text" name="store_num" ng-model="store_num"
								class="form-control mb-3 mr-sm-3" style="width: 70px;"></input>
						</div>
						<div class="form-row form-inline">
							<label for="invc_num" class=" mb-4 mr-sm-4">Invoice # : </label>
							<input type="text" ng-model="invc_num"
								class="form-control  mb-4 mr-sm-4" style="width: 215px;"></input> <label
								for="order_num" class=" mb-4 mr-sm-4">Order # : </label> <input
								type="text" ng-model="order_num"
								class="form-control mb-4 mr-sm-4" style="width: 205px;"></input>
						</div>
						<div class="form-row form-inline">
							<label class=" mb-5 mr-sm-5" for="status">Inv Status :
								 </label><select name="status"  ng-model="status" multiple
								ng-options="status for status in invoiceStatus"
								class="form-control mb-5 mr-sm-5 " id="status"
								style="width: 200px;"></select>



							<button id="query" type="submit" ng-disabled="!myForm.$valid"
								class="mb-5 mr-sm-5 btn btn-primary btn-lg" style=" width:190px; align:center; margin-left:40px;">Query</button>
						</div>
					</form>


					<!--  -->


					<p
						ng-show="myForm.enterprise.$touched && myForm.enterprise.$error.required"
						style="color: red;">Enterprise is required.</p>
					<p ng-show="myForm.country.$error.required" style="color: red;">Country
						is required with Store#</p>


				</div>
			</div>
			</div>
			<div class="card col-sm-4" style="margin-left: 5%;">
				<div class="card-body ">
				<h4>
				For all Enterprises/ Countries :</h4>
				<button title="Download csv for all unprocessed invoices on each enterprises" ng-click="generatecsv()" 
						class="mb-5 mr-sm-5 btn btn-success btn-lg" 
						style="width: 90%; height: 18%; align: center;  margin: 10%;">
						<span class="glyphicon glyphicon-save"></span> Download CSV 
					</button>
					<button title="Creates a country wise .in file for All countries" ng-click="generateInfile()" 
						class="mb-5 mr-sm-5 btn btn-success btn-lg" 
						style="width: 90%; height: 18%; align: center;  margin: 10%;">
						<span class="glyphicon glyphicon-save-file"></span> Create Infile 
					</button> 


					

				</div>
			</div>
			
						<p class="loading" colspan="10" ng-show="loading > 0"><img
							class="loading" src="loading.gif"/ ><p>
					
			<div style="margin-top: 20px;">
			<div ng-show=" showRecords > 0 && loading==0 ">
				<p style="color: red;">
					<b>{{count}} Results found.</b>
				</p>
				<button type="button" title="Download Csv" ng-disabled=" ! invoiceList.length > 0 "
						class=" btn btn-primary " ng-csv="invoiceList"
						filename="InvoiceExport.csv"
						csv-header="['Invoice#','Order_num','Customer#','Store','Error_Desc','InvStatus','OrdStatus','InvCreated','OrdCreated','bu_id']"
						charset="utf-8"
						style=" margin-left:1190px;">
						<span class="glyphicon glyphicon-save"></span> 
					</button>
					<button type="button" title="Create infile " ng-disabled=" ! infileList.length > 0 "
						class=" btn btn-primary" ng-csv="infileList" 
						filename="Invoice_Infile.in"
						>
						 <span class="glyphicon glyphicon-save-file"> </span>
					</button> 
			<table class="table ">
				<thead class="thead-dark ">
					<tr>
						<th ng-click="orderByMe('invc_num')">Invoice#</th>
						<th ng-click="orderByMe('order_num')">Order#</th>
						<th ng-click="orderByMe('error_desc')">Error Desc</th>
						<th ng-click="orderByMe('created')">InvCreated</th>
						<th ng-click="orderByMe('order_created')">OrdCreated</th>
						<th ng-click="orderByMe('status')">InvStatus</th>
						<th ng-click="orderByMe('order_status')">OrdStatus</th>
						<th ng-click="orderByMe('store')">Store#</th>
						<th ng-click="orderByMe('customer_num')">Customer#</th>
						<th ng-click="orderByMe('bu_id')">bu_id</th>

					</tr>
				</thead>
				<tbody>

					<tr ng-repeat="invoice in invoiceList | orderBy:myOrderBy">
						<td>{{invoice.invc_num}}</td>
						<td>{{invoice.order_num}}</td>
						<td>{{invoice.error_desc}}</td>
						<td>{{invoice.created}}</td>
						<td>{{invoice.order_created}}</td>
						<td>{{invoice.status}}</td>
						<td>{{invoice.order_status}}</td>
						<td>{{invoice.store}}</td>
						<td>{{invoice.customer_num}}</td>
						<td>{{invoice.bu_id}}</td>
					</tr>
					
				</tbody>

			</table>
			</div>
</div>
		</div>
		<div>
</div>
	</div>

</body>
<script type="text/javascript">
	// Used to toggle the menu on small screens when clicking on the menu button
	function myFunction() {
		var x = document.getElementById("navDemo");
		if (x.className.indexOf("w3-show") == -1) {
			x.className += " w3-show";
		} else {
			x.className = x.className.replace(" w3-show", "");
		}
	}
</script> 

</html>